In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
dataframe = pd.read_csv('Customer_Analysis_Lab_4.csv')
dataframe

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,02/03/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,02/10/11,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,02/12/11,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,02/06/11,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,02/03/11,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
summary = dataframe.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)
summary

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9.134000e+03,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,6.601074e+04,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,633.784673
std,1.085181e+06,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,9597.912180
min,1.898008e+03,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3.996948e+03,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.671710
50%,5.784200e+03,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,384.000000
75%,8.989996e+03,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,549.229217
max,3.553785e+07,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,718383.000000

In [4]:
#dataframe description

In [5]:
num = dataframe.select_dtypes(include= np.number) 
print(num) 
cat = dataframe.select_dtypes(exclude= np.number) 
print(cat)

      Customer Lifetime Value  Income  Monthly Premium Auto  \
0                 2763.519279   56274                    69
1                 6979.535903       0                    94
2                12887.431650   48767                   108
3                 7645.861827       0                   106
4                 2813.692575   43836                    73
...                       ...     ...                   ...
9129             23405.987980   71941                    73
9130              3096.511217   21604                    79
9131              8163.890428       0                    85
9132              7524.442436   21941                    96
9133              2611.836866       0                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies  Total Claim Amount
0                             0                   1          384.811147
1                             0                   8         1131.464935
2                             0                   2          566.472247
3                             0                   7          529.881344
4                             0                   1          138.130879
...                         ...                 ...                 ...
9129                          0                   2          198.234764
9130                          0                   1          379.200000
9131                          3                   2          790.784983
9132                          0                   3          691.200000
9133                          0                   1          369.600000

[9134 rows x 8 columns]
     Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor          02/03/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor          02/10/11
9130  PK87824  California      Yes  Extended   College          02/12/11
9131  TD14365  California       No  Extended  Bachelor          02/06/11
9132  UP19263  California       No  Extended   College          02/03/11
9133  Y167826  California       No  Extended   College           2/14/11

     EmploymentStatus Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

            Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0     Corporate L3           Offer1         Agent   Two-Door Car      Medsize
1      Personal L3           Offer3         Agent  Four-Door Car      Medsize
2      Personal L3           Offer1         Agent   Two-Door Car      Medsize
3     Corporate L2           Offer1   Call Center            SUV      Medsize
4      Personal L1           Offer1         Agent  Four-Door Car      Medsize
...            ...              ...           ...            ...          ...
9129   Personal L1           Offer2           Web  Four-Door Car      Medsize
9130  Corporate L3           Offer1        Branch  Four-Door Car      Medsize
9131  Corporate L2           Offer1        Branch  Four-Door Car      Medsize
9132   Personal L2           Offer3        Branch  Four-Door Car        Large
9133  Corporate L3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]

In [6]:
dataframe.isnull() #to find NaN

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9130,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9131,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9133,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False